<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.incognitoclone</string>
	<key>connections</key>
	<dict>
		<key>06E5B89D-B505-47B9-8015-4A874A749121</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A6BF207-5945-4330-8A6D-1AA942C0128B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>132CF6BE-9257-46D8-9AC1-78A49780ED03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8CC16BF-1B35-4056-B47E-07EBE41A4384</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A6BF207-5945-4330-8A6D-1AA942C0128B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAB35DE9-9077-4444-9719-8F2449829033</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>365BEC2F-D659-432F-B5A5-7DC4826258A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD466091-71C9-4A20-A679-2BB1D56F591B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>495F2DF1-6248-4E50-9214-7521C2BCDE4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFD0F729-19F4-48A6-AD53-D06954A1E603</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>32D4FDBB-47F3-4585-AE1E-3DE946EC0101</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE84921B-595A-4AA6-9519-2C03DB4EF414</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52F4C610-1335-4EFF-862F-603DC13E2038</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>972C5BD5-BBF1-47A0-A92D-5EC40578BA1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55C6DFB3-252F-449C-9B5B-B1B4A44B1255</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD466091-71C9-4A20-A679-2BB1D56F591B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B47CE52-50FC-4AC1-878A-10E073036CBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6A08880-814C-4E76-AD83-4E1CF3A1A6EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C48B464-CCB0-43D6-BE65-B57A05A0FF0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>365BEC2F-D659-432F-B5A5-7DC4826258A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>32D4FDBB-47F3-4585-AE1E-3DE946EC0101</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>55C6DFB3-252F-449C-9B5B-B1B4A44B1255</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>972C5BD5-BBF1-47A0-A92D-5EC40578BA1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06E5B89D-B505-47B9-8015-4A874A749121</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD466091-71C9-4A20-A679-2BB1D56F591B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5C0EB20-D63D-4E50-8333-002767851553</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5C0EB20-D63D-4E50-8333-002767851553</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B47CE52-50FC-4AC1-878A-10E073036CBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1C78EAD-183B-46FC-93DD-CE9D62824D4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>972C5BD5-BBF1-47A0-A92D-5EC40578BA1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8CC16BF-1B35-4056-B47E-07EBE41A4384</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Also close the original tab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAB35DE9-9077-4444-9719-8F2449829033</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C48B464-CCB0-43D6-BE65-B57A05A0FF0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9CE4D4CA-2532-4DD2-9EF3-07A5C8556B6E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C48B464-CCB0-43D6-BE65-B57A05A0FF0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>83189711-C850-4471-8CC0-ABEA23219B7B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>495F2DF1-6248-4E50-9214-7521C2BCDE4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE84921B-595A-4AA6-9519-2C03DB4EF414</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D581C43-EA57-4A3D-AC2F-2A6866DCC87E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8CC16BF-1B35-4056-B47E-07EBE41A4384</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06E5B89D-B505-47B9-8015-4A874A749121</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFD0F729-19F4-48A6-AD53-D06954A1E603</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D581C43-EA57-4A3D-AC2F-2A6866DCC87E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Open frontmost browser tab in a private window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Incognito Clone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>menubar_items</key>
					<string>{var:webkit_private_menu}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current.click.menubar.item</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>5B47CE52-50FC-4AC1-878A-10E073036CBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>app_list</key>
					<string>{var:browser_name}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C5C0EB20-D63D-4E50-8333-002767851553</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>custom_browser</key>
					<string>{var:browser_name}</string>
					<key>popup_browser</key>
					<string>custom</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/webkit-browsers/webkit.tabs.current.close</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>365BEC2F-D659-432F-B5A5-7DC4826258A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>custom_browser</key>
					<string>{var:browser_name}</string>
					<key>popup_browser</key>
					<string>custom</string>
					<key>url</key>
					<string>{var:url}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/webkit-browsers/webkit.tabs.current.url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D6A08880-814C-4E76-AD83-4E1CF3A1A6EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BD466091-71C9-4A20-A679-2BB1D56F591B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>52F4C610-1335-4EFF-862F-603DC13E2038</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>custom_browser</key>
					<string>{var:browser_name}</string>
					<key>popup_browser</key>
					<string>custom</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/webkit-browsers/webkit.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>55C6DFB3-252F-449C-9B5B-B1B4A44B1255</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:close_tab}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Close Tab</string>
						<key>uid</key>
						<string>32D4FDBB-47F3-4585-AE1E-3DE946EC0101</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Keep Tab</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6C48B464-CCB0-43D6-BE65-B57A05A0FF0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current.browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>06E5B89D-B505-47B9-8015-4A874A749121</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:clone_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>text</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1C78EAD-183B-46FC-93DD-CE9D62824D4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>close_tab</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>972C5BD5-BBF1-47A0-A92D-5EC40578BA1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Safari</string>
						<key>outputlabel</key>
						<string>Safari</string>
						<key>uid</key>
						<string>9CE4D4CA-2532-4DD2-9EF3-07A5C8556B6E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Orion</string>
						<key>outputlabel</key>
						<string>Orion</string>
						<key>uid</key>
						<string>83189711-C850-4471-8CC0-ABEA23219B7B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Other Browsers</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DAB35DE9-9077-4444-9719-8F2449829033</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1A6BF207-5945-4330-8A6D-1AA942C0128B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>close_tab</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F8CC16BF-1B35-4056-B47E-07EBE41A4384</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>custom_browser</key>
					<string>{var:browser_name}</string>
					<key>popup_browser</key>
					<string>custom</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/chromium-browsers/chromium.tabs.current.close</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>FFD0F729-19F4-48A6-AD53-D06954A1E603</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>custom_browser</key>
					<string>{var:browser_name}</string>
					<key>popup_browser</key>
					<string>custom</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/chromium-browsers/chromium.windows.new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>7D581C43-EA57-4A3D-AC2F-2A6866DCC87E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:close_tab}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Close Tab</string>
						<key>uid</key>
						<string>32D4FDBB-47F3-4585-AE1E-3DE946EC0101</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Keep Tab</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>495F2DF1-6248-4E50-9214-7521C2BCDE4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>132CF6BE-9257-46D8-9AC1-78A49780ED03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>custom_browser</key>
					<string>{var:browser_name}</string>
					<key>popup_browser</key>
					<string>custom</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/chromium-browsers/chromium.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>EE84921B-595A-4AA6-9519-2C03DB4EF414</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Open the URL from your frontmost browser tab in a new private / incognito window via the `ic` keyword.

![Keyword to open new window](images/about/ic.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open new window.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open new window and close current tab.</string>
	<key>uidata</key>
	<dict>
		<key>06E5B89D-B505-47B9-8015-4A874A749121</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>132CF6BE-9257-46D8-9AC1-78A49780ED03</key>
		<dict>
			<key>note</key>
			<string>New Private Window and close tab</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>1A6BF207-5945-4330-8A6D-1AA942C0128B</key>
		<dict>
			<key>note</key>
			<string>Save browser name</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>365BEC2F-D659-432F-B5A5-7DC4826258A0</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>495F2DF1-6248-4E50-9214-7521C2BCDE4F</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>52F4C610-1335-4EFF-862F-603DC13E2038</key>
		<dict>
			<key>note</key>
			<string>New Private Window</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>55C6DFB3-252F-449C-9B5B-B1B4A44B1255</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>5B47CE52-50FC-4AC1-878A-10E073036CBE</key>
		<dict>
			<key>xpos</key>
			<real>1440</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>6C48B464-CCB0-43D6-BE65-B57A05A0FF0C</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>7D581C43-EA57-4A3D-AC2F-2A6866DCC87E</key>
		<dict>
			<key>xpos</key>
			<real>1275</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>972C5BD5-BBF1-47A0-A92D-5EC40578BA1E</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>BD466091-71C9-4A20-A679-2BB1D56F591B</key>
		<dict>
			<key>note</key>
			<string>Save URL</string>
			<key>xpos</key>
			<real>1160</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>C5C0EB20-D63D-4E50-8333-002767851553</key>
		<dict>
			<key>note</key>
			<string>Bring browser to front so we can click its menu</string>
			<key>xpos</key>
			<real>1275</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D1C78EAD-183B-46FC-93DD-CE9D62824D4D</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>D6A08880-814C-4E76-AD83-4E1CF3A1A6EF</key>
		<dict>
			<key>xpos</key>
			<real>1605</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>DAB35DE9-9077-4444-9719-8F2449829033</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>EE84921B-595A-4AA6-9519-2C03DB4EF414</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>F8CC16BF-1B35-4056-B47E-07EBE41A4384</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>FFD0F729-19F4-48A6-AD53-D06954A1E603</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ic</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Clone Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>clone_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>File
New Private Window</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Change if your system is not in English and the item under "File" has a different name.

Webkit browsers do not support opening new Private windows programatically, thus we emulate clicking the menu.</string>
			<key>label</key>
			<string>Safari Menu</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>webkit_private_menu</string>
		</dict>
	</array>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/incognito-clone-workflow/</string>
</dict>
</plist>
